.navigation-menu__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.navigation-menu__items img {
    margin: 5px;
}

.navigation-menu__items a {
    text-decoration: none;
    color: #FFFFFF;
}