.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1.875rem 1.25rem 0;
}

.header__logo {
    width: 20%;
}

.header__logo img {
    width: 50%;
}

.header__search {
    border: none;
    border-radius: 8px;
    width: 55%;
    height: 40px;
    margin: 0 0.3125rem;
    padding: 0.3125rem 0.625rem;
    background: rgba(255, 255, 255, 0.16);
    opacity: 0.5;
    color: #FFFFFF;
    outline: 0;
}

.header__search::placeholder {
    color: #FFFFFF;
}

.header__name-perfil {
    color: #FFFFFF;
    font-size: 16px;
}

.header__perfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    width: 20%;
    height: 2.5rem;
}
