.side-navigation-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    height:calc(100vh - 150px);
    gap: 30px;
}

.side-navigation-menu__element {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-navigation-menu__element-personalization {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-navigation-menu__label {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
}

.side-navigation-menu__input {
    padding: 0.75rem;
    border: none;
    border-radius: 0.4125rem;
    background: rgba(255, 255, 255, 0.16);
    opacity: 0.8;
    color: #FFFFFF;
    outline: 0;
    opacity: 0.7;
}


.side-navigation-menu__input option {
    background: #051D3B;
    color: #FFFFFF;
    opacity: 0.5;
}    

.side-navigation-menu__input::placeholder {
    color: #FFFFFF;
}

.side-navigation-menu__input-color {
    width: auto;
    background: none;
    height: 3rem;
    box-shadow: none; 
    border-color: #FFFFFF;
    border-radius: 0.4125rem;
    cursor: pointer;
}

.side-navigation-menu__btn-save {
    background: #5081FB;
    padding: 1rem ;
    outline: 0;
    border: none;
    border-radius: 0.4125rem;
    color: #051D3B;
}

@media screen and (max-width: 768px) {
    .side-navigation-menu  {
        width: 100%;
    }

    .side-navigation-menu__element-personalization {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .side-navigation-menu__element-personalization .side-navigation-menu__label {
        width: 100%;
        margin-right: auto;
    }
    
    .side-navigation-menu__element-personalization .side-navigation-menu__input {
        width: 48%;
    }
    
    .side-navigation-menu__element-personalization .side-navigation-menu__input-color {
        width: 48%;
    }

    .side-navigation-menu__element-personalization .side-navigation-menu__btn-save {
        width: 100%;
    }

    @media screen and (max-width: 375px) {
        .side-navigation-menu__element-personalization {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    
        .side-navigation-menu__element-personalization .side-navigation-menu__label {
            width: 100%;
        }
        
        .side-navigation-menu__element-personalization .side-navigation-menu__input {
            width: 100%;
        }
        
        .side-navigation-menu__element-personalization .side-navigation-menu__input-color {
            width: 100%;
        }
    
        .side-navigation-menu__element-personalization .side-navigation-menu__btn-save {
            width: 100%;
        }
    }

}