.side-navigation-menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    height:calc(100vh - 150px);
    gap: 30px;
}

.side-navigation-menu__element {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-navigation-menu__label {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
}

.side-navigation-menu__input {
    padding: 0.75rem;
    border: none;
    border-radius: 0.3125rem 0.625rem;
    background: rgba(255, 255, 255, 0.16);
    opacity: 0.8;
    color: #FFFFFF;
    outline: 0;
    opacity: 0.7;
}


.side-navigation-menu__input option {
    background: #051D3B;
    color: #FFFFFF;
    opacity: 0.5;
}    

.side-navigation-menu__input::placeholder {
    color: #FFFFFF;
}

.side-navigation-menu__color {
    background-color: #5081FB;
}

button.side-navigation-menu__btn-salve {
    background: #5081FB;
    padding: 1rem ;
    outline: 0;
    border: none;
    border-radius: 0.3125rem 0.625rem;
    color: #051D3B;
}